<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.travel.TravelUserMapper">

    <resultMap type="com.ruoyi.system.domain.travel.TravelUser" id="TravelUserResult">
        <id     property="userId"         column="user_id"          />
        <result property="phone"         column="phone"           />
        <result property="nickname"       column="nickname"        />
        <result property="avatar"        column="avatar"          />
        <result property="totalCheckins" column="total_checkins"  />
        <result property="totalCities"   column="total_cities"    />
        <result property="totalSpots"    column="total_spots"     />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="selectTravelUserById" parameterType="Long" resultMap="TravelUserResult">
        select user_id, phone, nickname, avatar, total_checkins, total_cities, total_spots, create_time, update_time
        from travel_user
        where user_id = #{userId}
    </select>

    <select id="selectTravelUserByPhone" parameterType="String" resultMap="TravelUserResult">
        select user_id, phone, nickname, avatar, total_checkins, total_cities, total_spots, create_time, update_time
        from travel_user
        where phone = #{phone}
    </select>

    <insert id="insertTravelUser" parameterType="com.ruoyi.system.domain.travel.TravelUser">
        insert into travel_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="phone != null">phone,</if>
            <if test="nickname != null">nickname,</if>
            <if test="avatar != null">avatar,</if>
            <if test="totalCheckins != null">total_checkins,</if>
            <if test="totalCities != null">total_cities,</if>
            <if test="totalSpots != null">total_spots,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="phone != null">#{phone},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="totalCheckins != null">#{totalCheckins},</if>
            <if test="totalCities != null">#{totalCities},</if>
            <if test="totalSpots != null">#{totalSpots},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateTravelUser" parameterType="com.ruoyi.system.domain.travel.TravelUser">
        update travel_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone != null">phone = #{phone},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="totalCheckins != null">total_checkins = #{totalCheckins},</if>
            <if test="totalCities != null">total_cities = #{totalCities},</if>
            <if test="totalSpots != null">total_spots = #{totalSpots},</if>
            update_time = sysdate()
        </trim>
        where user_id = #{userId}
    </update>

    <update id="incrementCheckinCount" parameterType="Long">
        update travel_user set total_checkins = total_checkins + 1 where user_id = #{userId}
    </update>

    <update id="incrementCityCount" parameterType="Long">
        update travel_user set total_cities = total_cities + 1 where user_id = #{userId}
    </update>

    <update id="incrementSpotCount" parameterType="Long">
        update travel_user set total_spots = total_spots + 1 where user_id = #{userId}
    </update>

</mapper>
