<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.travel.TravelUserMapper">

    <resultMap type="com.ruoyi.system.domain.travel.TravelUser" id="TravelUserResult">
        <id     property="phone"         column="phone"           />
        <result property="nickname"       column="nickname"        />
        <result property="avatar"        column="avatar"          />
        <result property="totalCheckins" column="total_checkins"  />
        <result property="totalCities"   column="total_cities"    />
        <result property="totalSpots"    column="total_spots"     />
        <result property="totalAchievements" column="total_achievements" />
        <result property="appAccount"    column="app_account"    />
        <result property="appPassword"   column="app_password"   />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="selectTravelUserByPhone" parameterType="String" resultMap="TravelUserResult">
        select phone, nickname, avatar, total_checkins, total_cities, total_spots, total_achievements, app_account, app_password, create_time, update_time
        from travel_user
        where phone = #{phone}
    </select>

    <select id="selectTravelUserList" parameterType="com.ruoyi.system.domain.travel.TravelUser" resultMap="TravelUserResult">
        select phone, nickname, avatar, total_checkins, total_cities, total_spots, total_achievements, app_account, app_password, create_time, update_time
        from travel_user
        <where>
            <if test="phone != null and phone != ''">
                AND phone like concat('%', #{phone}, '%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND nickname like concat('%', #{nickname}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertTravelUser" parameterType="com.ruoyi.system.domain.travel.TravelUser">
        insert into travel_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null">phone,</if>
            <if test="nickname != null">nickname,</if>
            <if test="avatar != null">avatar,</if>
            <if test="totalCheckins != null">total_checkins,</if>
            <if test="totalCities != null">total_cities,</if>
            <if test="totalSpots != null">total_spots,</if>
            <if test="totalAchievements != null">total_achievements,</if>
            <if test="appAccount != null">app_account,</if>
            <if test="appPassword != null">app_password,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null">#{phone},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="totalCheckins != null">#{totalCheckins},</if>
            <if test="totalCities != null">#{totalCities},</if>
            <if test="totalSpots != null">#{totalSpots},</if>
            <if test="totalAchievements != null">#{totalAchievements},</if>
            <if test="appAccount != null">#{appAccount},</if>
            <if test="appPassword != null">#{appPassword},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateTravelUser" parameterType="com.ruoyi.system.domain.travel.TravelUser">
        update travel_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone != null">phone = #{phone},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="totalCheckins != null">total_checkins = #{totalCheckins},</if>
            <if test="totalCities != null">total_cities = #{totalCities},</if>
            <if test="totalSpots != null">total_spots = #{totalSpots},</if>
            <if test="totalAchievements != null">total_achievements = #{totalAchievements},</if>
            <if test="appAccount != null">app_account = #{appAccount},</if>
            <if test="appPassword != null">app_password = #{appPassword},</if>
            update_time = sysdate()
        </trim>
        where phone = #{phone}
    </update>

    <update id="incrementCheckinCount" parameterType="String">
        update travel_user set total_checkins = total_checkins + 1 where phone = #{phone}
    </update>

    <update id="incrementCityCount" parameterType="String">
        update travel_user set total_cities = total_cities + 1 where phone = #{phone}
    </update>

    <update id="incrementSpotCount" parameterType="String">
        update travel_user set total_spots = total_spots + 1 where phone = #{phone}
    </update>

    <delete id="deleteTravelUserByPhone" parameterType="String">
        delete from travel_user where phone = #{phone}
    </delete>

    <delete id="deleteTravelUserByPhones" parameterType="String">
        delete from travel_user where phone in
        <foreach item="phone" collection="array" open="(" separator="," close=")">
            #{phone}
        </foreach>
    </delete>

</mapper>
